test/libmsr_test
*.o
*.so
app
cab*
pebs
*.core
*.btr
*.out
*~
BUILD/
_autoconf_
demoapps/powmon/Makefile
demoapps/powmon/Makefile.in
demoapps/powmon/aclocal.m4
demoapps/powmon/autom4te.cache/
demoapps/powmon/config.h
demoapps/powmon/config.h.in
demoapps/powmon/config.log
demoapps/powmon/config.status
demoapps/powmon/configure
demoapps/powmon/depcomp
demoapps/powmon/install-sh
demoapps/powmon/missing
demoapps/powmon/src/.deps/
demoapps/powmon/src/Makefile
demoapps/powmon/src/Makefile.in
demoapps/powmon/src/power_wrapper_dynamic
demoapps/powmon/src/power_wrapper_static
demoapps/powmon/src/powmon
demoapps/powmon/stamp-h1
headers/master.h
include/master.h
