*.btr
*.core
*.o
*.out
*.so
*~
BUILD/
CMakeCache.txt
CMakeFiles/
Makefile
_autoconf_
app
cab*
cmake_install.cmake
demoapps/powmon/Makefile
demoapps/powmon/Makefile.in
demoapps/powmon/aclocal.m4
demoapps/powmon/autom4te.cache/
demoapps/powmon/config.h
demoapps/powmon/config.h.in
demoapps/powmon/config.log
demoapps/powmon/config.status
demoapps/powmon/configure
demoapps/powmon/depcomp
demoapps/powmon/install-sh
demoapps/powmon/missing
demoapps/powmon/src/.deps/
demoapps/powmon/src/Makefile
demoapps/powmon/src/Makefile.in
demoapps/powmon/src/power_wrapper_dynamic
demoapps/powmon/src/power_wrapper_static
demoapps/powmon/src/powmon
demoapps/powmon/stamp-h1
documentation/doxygen_*.pdf
dox/html
dox/latex
headers/master.h
include/CMakeFiles/
include/Makefile
include/cmake_install.cmake
include/master.h
install_manifest.txt
lib/
libmsr-config.cmake
mpi_test
pebs
platform_headers/master.h
test/dump-data
test/libmsr-test
test/libmsr_test
test/pstate-test
test/rapl-data
test/translate
test/turbo-test
test/unit-test
