*.core
*.o
*.so
*.swp
._autoconf_
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
demoapps/powmon/power_wrapper_dynamic
demoapps/powmon/power_wrapper_static
demoapps/powmon/powmon
documentation/doxygen_*.pdf
dox/html
dox/latex
include/master.h
install_manifest.txt
lib/
libmsr-config.cmake
msrmod/msrmod
test/libmsr_dump_data
test/libmsr_test
test/power_cap_test
test/power_unit_test
test/pstate_test
test/read_rapl_data
test/translate_pkg_rapl_limit
test/turbo_test
